/* ======================================================
              For Mobile Portrait View
   ========================================================  */
         
/*===== This applies from 0px to 767px=====*/

     body
      {
        background-color: lightgray;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    
      }

/* ----Header layout---- */
      header
      {
        background-color:#35424a;
        color:#ffff;
        padding-top: 2px;
        height: 60px;
        border-bottom: green 10px solid;
      }
  
/* ----h1 layout---- */

      h1
      {
        font-size: 20px;
        text-align: center;
        margin: 0;
      }

      header .highlight 
      {
        font-size: 6vmax;
        color:rgb(72, 209, 233);
        font-family:cursive;
      }


/* ----calenderLogo layout---- */
    
      img.BUDlog.image-resize 
      {
        max-width: 60px;
        margin: 1% auto 1%;
        display: block;
      }
  
/*-----Container layout-----*/
      .container
      { 
        max-width: 90%;
        margin: 0 auto;
      }
      
      form 
      {
        margin-top: -15px;
      }

      fieldset
      {
        background: #000c0b;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 40px 40px;
        max-width: max-content;
        margin: auto;
      }
           
      label 
      { 
        color:white;
        text-align: left;
        font-size: 20px;
        display:block;
      
      }

     
      #days, #months, #hours 
      {
        width: 100px;
        height: 30px;
        border-radius: 20px;
        margin-left: 170px;
  
      }
  
      input[type="number" i] 
      {
        font-size: 30px;
        text-align: center;
      }
  
      input[type="button"] 
      {
        width: 90px;
        height: 40px;
        -webkit-appearance: none;
        -webkit-box-sizing: border-box;
        border-radius: 30px 0 0 30px;
        text-align: center;
        font-size: 15px;
        background: azure;
        
      }
      
      input[type=button]:hover  
      {    
        background: yellowgreen;
      }

      input#BUD 
      {
        width: 175px;
        height: 30px;
        border-radius: 0 30px 30px 0;
        text-align: center;
        font-size: 15px;
      }
           
/* ----h2 layout---- */

      h2
      {
        color: black;
        text-align: center;
        font-family: calibri;
        font-size: 15px;
        margin: 0;
      }
  
/* ----Footer layout---- */

      .footer 
      {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color:black;
        color: white;
        text-align: center;
        font-size: 15px;
        padding-top: 3px;
        padding-bottom: 2px;
        overflow: hidden;
      }


      /* ====================================
           For Mobile Landscape View
    =================================  */

/*===== This applies when a mobile is rotated =====*/

@media only screen and (orientation: Landscape){
  
  /* ----Header layout---- */
  
      header
      {
       margin: auto;
       height: 10%;
      }

      span.highlight
      {
       font-size: 4vmax;
      }


      h1 
      {
       margin-top: -4px;
       margin-bottom: 1px;
      }  
  /* ----calenderLogo layout---- */
    
  img.BUDlog.image-resize 
  {
    max-width: 50px;
    margin: 1% auto 5%;
    display: block;
  }

  /*-----Container layout-----*/

      .container
      {
       max-width: 200%;
      }


      form 
      {
        max-width: 199%;
        margin-top: -1%;
      }

      input#months, #days, #hours 
      {
        margin-left: 1px;
      }

      label 
      { 
       width: 200px;
       font-size: 15px;
       display: inline-block;
       padding-bottom: 7px;
      }

      input[type="button"] 
      {
        width: 110px;
      }

      input#BUD 
      {
        width: 180px;
      }

  /* ----h2 layout---- */

      h2
      {
        margin-top: -25px;
      }

      h2 br 
      {
        display: none;
      }
      
      /* ----Footer layout---- */

      .footer 
      {
       font-size: 12px;
      }
      .footer br 
      {
       display: none;
      }

}

