/* ======================================================
                 Mobile Layout styles : core styles
   ========================================================  */
         
/*===== This applies from 0px to 767px=====*/

     body
      {
        background-color: lightgray;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    
      }

/* ----Header layout---- */
      header
      {
        background-color:#35424a;
        color:#ffff;
        padding-top: 2px;
        height: 80px;
        border-bottom: green 10px solid;
      }
  
/* ----h1 layout---- */

      h1
      {
        font-size: 20px;
        text-align: center;
      }

      header .highlight 
      {
        font-size: 6vmax;
        color:rgb(72, 209, 233);
        font-family:"Segoe Script";
      }
          
/* ----calenderLogo layout---- */
    
      img.calenderlog.image-resize 
      {
        max-width: 100px;
        margin: 5% auto;
        display: block;
      }
  
/*-----Container layout-----*/
      .container
      { 
        position: fixed;  
        left: 50%;
        top: 42%;
        height: 10px;
        max-width: 370px;
        transform: translate(-50%, -50%);
      }
          
      fieldset
      {
        background: #000c0b;
        font-family: "Segoe Print";
        border-radius: 40px 40px;
      }
           
      label 
      { 
        color:white;
        width: 300px;
        text-align: left;
        font-size: 20px;
        display:block;
        transition: .5s;
      }

      select#Item 
      {
        max-width: 300px;
        height: 30px;
        font-size: 18px;
        border-radius: 20px;
        -webkit-box-sizing: border-box;
        -webkit-appearance: none;
        background: azure;
      }

      select :nth-of-type(odd) 
      {
        color:white;
        background-color: black;
      }
     
      #days 
      {
        width: 100px;
        height: 30px;
        border-radius: 20px;
      }
  
      input[type="number" i] 
      {
        font-size: 18px;
        text-align: center;
      }
  
      input[type="button"] 
      {
        width: 150px;
        height: 40px;
        -webkit-appearance: none;
        -webkit-box-sizing: border-box;
        border-radius: 30px 0 0 30px;
        text-align: center;
        font-size: 20px;
        background: azure;
      }
      
      input[type=button]:hover  
      {    
        background: yellowgreen;
      }

      input#ExpDate 
      {
        width: 125px;
        height: 30px;
        border-radius: 0 30px 30px 0;
        text-align: center;
        font-size: 20px;
      }
           
/* ----h2 layout---- */

      h2
      {
        color: black;
        text-align: center;
        font-size: 15px;
        font-family: "Trebuchet MS";
      }
  
/* ----Footer layout---- */

      .footer 
      {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color:black;
        color: white;
        text-align: center;
        font-size: 15px;
        padding-top: 3px;
        padding-bottom: 2px;
      }


      /* ====================================
    landscape Layout styles
    =================================  */

/*===== This applies when a mobile is rotated =====*/

@media only screen and (orientation:landscape){
  
  /* ----Header layout---- */
  
      header
      {
       margin: auto;
       height: 10%;
      }

      span.highlight
      {
       font-size: 4vmax;
      }


      h1 
      {
       margin-top: -4px;
       margin-bottom: 1px;
      }  

  /* ----calenderLogo layout---- */
    
      img.calenderlog.image-resize 
      {
       height: 50px;
       margin: 1px auto;
      }    

  /*-----Container layout-----*/

      form 
      {
       width: 550px;
       height: 104px
      }

      .container
      {
       top: 54%;
       max-width: 600px;
       height: 88px;
      }



      label 
      { 
       width: 200px;
       font-size: 15px;
       display: inline-block;
      }

  /* ----h2 layout---- */

      h2
      {
        margin-top: 25px;
      }
      
      /* ----Footer layout---- */

      .footer 
      {
       font-size: 12px;
      }
      .footer br 
      {
       display: none;
      }

}


/* ====================================
    desktop & laptop Layout styles
    =================================  */

/*===== This applies from 768px onwards =====*/

@media only screen and (min-width: 768px) {

/* ----Header layout---- */
 
       header::after
       {
        height: 10px;
        padding-top: 1mm;
        border-bottom: green 15px solid;
       }
 
 /* ----h1 layout---- */
       header .highlight 
       {
        font-size: 5vmax;
       } 
 
       h1
       {
        font-size: 25px;
        margin: 5px auto;
        }
 
  /* ----calenderLogo layout---- */
       img.calenderlog.image-resize 
       {
        margin: 50px auto 20px;
        height: 100px;
       }
 
 
 /*-----Container layout-----*/
 
       form 
       {
        width: 800px;
        height: 110px;
       }
 
      fieldset
       {
        width: 600px;
       }
  
      select#Item 
       {
       width: 268px;
       font-size: 16px;
       -webkit-appearance: auto;
       }
 
      label 
      { 
       width: 296px;
       font-size: 20px;
      }
 
      input#days 
      {
       width: 90px;
      }
 
      input[type="button"] 
      {
       width: 100px;
       height: 35px;
       font-size: 15px;
      }
 
      input#ExpDate 
      {
       width: 158px;
      }
 
 /* ----h2 layout---- */
      h2
      { 
       font-size: 20px;
       margin-top: 25px;
      }
 
 /* ----Footer layout---- */
     .footer
      {
       height: 30px;
       font-size: 15px;
      }

 }
